
%h1 Categories
.option
  - @categories.each do |c|
    :erb
      <%= link_to c.name, c %>(<%= c.article_num %>)
%br
%h1 Recently Articles
.option
  - @right_articles.each do |article|
    %p
      - if @blog
        = article.created_at.in_time_zone('Tokyo').strftime("%d")
      = link_to article.title,article
  #right
    = paginate @right_articles, :param_name => :right
