html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


$content-width: 960px;
$pink: #FD0CB6;
    body { background-color: #fff; color: #333;margin:0;padding:0;
	    font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", verdana,arial, "lucida grande", sans-serif;}
	a{color:#3b5998;outline:none;}
    h1{font-size: 20px;}
	form{padding:0;margin:0;}
	button{cursor:pointer;}
	.contents {text-align:left;font-size:14px;padding:20px 0 20px 10px;
    &:after{visibility:hidden;display:block;font-size:0;content:"";height:0;clear:both;}
    }
  .header { padding: 0px;
             h1{background-color:#FD0CB6;border-radius: 7px;color: #ffffff;font-size: 30px;font-weight: bold;margin-top: 10px;padding:10px 10px 10px 20px;}
             a{text-decoration: none;color:white;
               &:hover{color:white;background: #FD0CB6;}
             }
           }
   .admin{float: right;margin-right: 10px;margin-top: 30px;color:$pink;
     a{color: $pink}
     }


	.header ul.nav{float:right;
        li{display:block;float:left;font-size:12px;font-weight:bold;height:49px;margin:0 6px;text-align:center;_width:1px;_white-space:nowrap;
          a{color:#999;display:block;height:38px;text-decoration:none;
            &:hover{color:#000;}
            span{display:block;height:26px;padding:11px 9px 1px 9px;}}
          }
          }
   ul.t_archive{margin:10px 0 0 0;
                li{font-size:.8em;margin:5px 0 0 20px;}}

	.footer {
      color: #777777;
      height: 150px;
      margin: 0 auto;
      padding-top: 20px;
      position: relative;

    }

  .footer-wrapper {
      box-shadow: 0 0 2px #000000;
      clear: both;
      font-size: 12px;
      position: relative;
      width: 100%;
  }
  .footer1, .footer2, .footer3 {
      float: left;
      margin-left: 28px;
      width: 140px;
  }
  .footer4 {
      float: left;
      width: 350px;
  }


    /* ここまで */



  $selected-color: #f35df3;
  $disable-color: #999999;
  $calendar-text-color: #333333;
  $calendar-padding: 0 10px 20px 0;
  $twit-width: 8 * 58 + 30px;
   .twit{width: $twit-width ;height:385px;margin:20px 0;float:left;
     .fl{padding: 0px;border: 5px solid #FF0000;}
         img{padding:5px;width:48px;height:48px;}
         .form_img{display:inline;}
           input{padding:5px;width:48px;height:48px;
             &:hover{padding:0px;border: 5px solid #FFBD00;}}
         }
  .calendar{width:385px;height:385px;float:left;
              ul{width:385px;list-style:none;font-family:georgia;font-size:26px;display:block;
              .day{display:block;font-variant:small-caps;font-size:13px;background:#cccccc;height:15px;font-family:helvetica,arial;text-align:center;color:ff0000;}
              .today-li{background-color:#ffff00;
                &:hover{background-color:#ff0000;}
                a{color: $calendar-text-color;text-decoration:none;display:block;padding: $calendar-padding;}}
              .selectable-date{
                &:hover{background-color:#ff0000;}
                a{color: $calendar-text-color;text-decoration:none;display:block;padding: $calendar-padding}}
              .selected-date{background: $selected-color;}
              .past-date{background: $disable-color;}

              li{width:45px;float:left;height:45px;background:#cccccc;margin:2px;padding:3px;font-family:georgia;
              span{font-size:11px;dispay:block;color:#666;}
              }}
  }

  .sun{color:#ff0000;}
  .sat{color:#2B6DBC;}
  .kill_left_space{width:95px;height:400px;float:left;}

$left-wrapper-width: 575px;
$right-wrapper-width: $content-width - (($content-width + $left-wrapper-width)/2);

    /* .left-wrapper {margin:70px 0 0 0;width: $left-wrapper-width;float:left;} */
    .left-wrapper {margin:0 auto;width: $left-wrapper-width;text-align:left;}
    .twit-left-wrapper {margin:0 auto;width: $twit-width + (95 * 2);text-align:left;}
    .right-wrapper{width: $right-wrapper-width;float:left;
      img{width:$right-wrapper-width;}}
    .right-part{p{font-size: 15px;}
      ul{font-size: 12px;}
      li{list-style:square;margin:10px 0 0 $left-wrapper-width + 200px;}}
    .hub-wrapper{width: $right-wrapper-width;float: right;
      p{padding:5px;}
      img{padding:5px;width:48px;height:48px;}
      .login_btn{padding: 5px;width: 151px;height:24px}
      h2{font-size: 16px;font-weight: bold;padding: 10px 0 0 0;}}
/* 75 20 385 20 75  */
    .scroller-prev {float:left;cursor:pointer;margin-right:20px;margin-top:175px;}
    .scroller-next {float:left;cursor:pointer;margin-left:20px;margin-top:175px;}
    .regi-btn {float:right;margin-right:95px;}
    #tw_oauth {text-align:center;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;padding:150px 0;background:#f2f2f2;margin:50px 0;}
    .edit-hub {padding:20px 0;}
    textarea.ta {width: $left-wrapper-width;height: 50px;margin-bottom:20px;}
    input.ta {width: $left-wrapper-width;margin-bottom:20px;}

    .article-title {font-size: 25px;font-weight: bold;
      a{text-decoration: none;color: #333333;}
        }
    .article-desc {padding: 10px 0px 10px 10px;}
    .article-opt {font-size: 9px;padding-bottom: 20px;}
    .right-box {background: $pink + 150;border-radius: 7px;margin-top:20px;}
      .bl {height:20px;}
    .option{padding: 10px 0 0 10px;color:black;
      p{padding-top:5px;}
        }