@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", verdana,arial, "lucida grande", sans-serif; }

a {
  color: #3b5998;
  outline: none; }

h1 {
  font-size: 20px; }

form {
  padding: 0;
  margin: 0; }

button {
  cursor: pointer; }

.contents {
  text-align: left;
  font-size: 14px;
  padding: 20px 0 20px 10px; }
  .contents:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    height: 0;
    clear: both; }

.header {
  padding: 0px; }
  .header h1 {
    background-color: #FD0CB6;
    border-radius: 7px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 10px 10px 20px; }
  .header a {
    text-decoration: none;
    color: white; }
    .header a:hover {
      color: white;
      background: #FD0CB6; }

.admin {
  float: right;
  margin-right: 10px;
  margin-top: 30px;
  color: #fd0cb6; }
  .admin a {
    color: #fd0cb6; }

.header ul.nav {
  float: right; }
  .header ul.nav li {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 49px;
    margin: 0 6px;
    text-align: center;
    _width: 1px;
    _white-space: nowrap; }
    .header ul.nav li a {
      color: #999;
      display: block;
      height: 38px;
      text-decoration: none; }
      .header ul.nav li a:hover {
        color: #000; }
      .header ul.nav li a span {
        display: block;
        height: 26px;
        padding: 11px 9px 1px 9px; }

ul.t_archive {
  margin: 10px 0 0 0; }
  ul.t_archive li {
    font-size: .8em;
    margin: 5px 0 0 20px; }

.footer {
  color: #777777;
  height: 150px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative; }

.footer-wrapper {
  box-shadow: 0 0 2px #000000;
  clear: both;
  font-size: 12px;
  position: relative;
  width: 100%;
  margin-bottom: 150px; }

.footer1, .footer2, .footer3 {
  float: left;
  margin-left: 28px;
  width: 140px; }

.footer4 {
  float: left;
  width: 350px; }

.article-title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px; }
  .article-title a {
    text-decoration: none;
    color: #333333; }

.article-desc {
  padding: 10px 0px 10px 10px;
  line-height: 18px; }

.article-opt {
  font-size: 9px;
  padding-bottom: 20px; }

.right-box {
  background: #ffa2ff;
  border-radius: 7px;
  margin-top: 20px; }
  .right-box a {
    color: #333333; }

.bl {
  height: 20px; }

.option {
  padding: 10px 0 0 10px;
  color: black;
  line-height: 15px; }
  .option p {
    padding-top: 5px; }

.pagination {
  float: right;
  font-size: 13px;
  color: #999999; }
  .pagination a {
    text-decoration: none;
    color: #fd0cb6; }

#right .pagination {
  font-size: 13px;
  margin-right: 40px; }
  #right .pagination a {
    color: black; }

.category-title {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold; }
  .category-title a {
    color: #fd0cb6;
    text-decoration: none; }
